@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-border: var(--surface-border);
  --color-muted-surface: var(--muted-surface);
  --color-muted-surface-border: var(--muted-surface-border);

  --color-icon-foreground: var(--icon-foreground);

  --color-toggle-bg: var(--toggle-bg);
  --color-toggle-border: var(--toggle-border);

  --color-button-surface: var(--button-surface);

  --color-foreground-inverse: var(--foreground-inverse);
  --color-muted-foreground: var(--muted-foreground);

  --font-fustat: var(--font-fustat, sans-serif);
}

:root {
  --background: #f8f8f8;
  --foreground: #000000;

  --surface: #ffffff;
  --surface-border: #ebebeb;

  --muted-surface: #ededed;
  --muted-surface-border: #e3e3e3;

  --icon-foreground: #878787;

  --toggle-bg: #f4f4f4;
  --toggle-border: #eaeaea;

  --button-surface: #2a2a2a;

  --foreground-inverse: #ffffff;
  --muted-foreground: #686868;
}

.dark {
  --background: #000000;
  --foreground: #d4d4d4;

  --surface: #181818;
  --surface-border: #252525;

  --muted-surface: #131313;
  --muted-surface-border: #202020;

  --icon-foreground: #787878;

  --toggle-bg: #222222;
  --toggle-border: #2e2e2e;

  --button-surface: #d4d4d4;

  --foreground-inverse: #000000;
  --muted-foreground: #979797;
}

@layer base {
  * {
    @apply border-surface-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-fustat);
  }
}
